body {
    padding-top: 50px;
}

.fighter_box {
    padding: 20px;
    margin: 100px auto;
    background-color: lightgray;
    height: 600px;
}

.class_info {
    display: flex;
    padding-bottom: 10px;
}

.description {
    margin-left: 50px;
}

.form-control{
    width: 25% !important;
    font-size: 18px !important;
}


/* this breaks stuff
.fighter_info {
    position: absolute;
} */
